.header{
    background-color: #cccccc ;
    display: flex ;
    padding: .1rem ;
    justify-content:space-between ;

    & img {
        height: 80px ;
        width: 80px ;
        padding: 20px ;
    }

    .logo-principal{
        width: 100px ;
        height: 50px ;
    }
    
    .logo-carrito{
        text-align: center;
    }
}



