.producto-destacado{
    font-size: 25px;
    margin-top: 50px;

    @include mobile{
        padding-top: 1rem;
    }

    & .destacado{
        text-align: center;
    }
}

.precio-justo img{
    width: 100%;
    margin-bottom: 20px;
}
.imagen1 img{
    width: 100%;
}
